.index-banner {
    background: #103A60;
    color: white;
    position: relative;

	&::after {
        content: '';
        width: 100%;
        padding-bottom: 5%;
        background-image: url(../img/index.svg);
        background-position: bottom;
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        top: 100%;
        transform: translateY(0%);
	}
}

.second {
    padding-top: 7%;
}